/****************
GENERAL
****************/

body{
	font-family:"微软雅黑", "苹方-简";
	height: 100%;
}

.wrapper{
	max-width:940px;
	margin:0 auto;
	padding:0;
}

a{
	text-decoration:none;
}

img{
	max-width:100%;
	border-radius: 5px 5px 0 0;
}


h3{
	margin:0 0 0.8em 0;
}

p{
	font-size: 0.8em;
	line-height: 2em;
}

/****************
HEARDING
****************/


.public-header{
	text-align: center;
	float: left; 
	margin:0;
	padding:0;
	width:100%;
}


.search-icon{
	float: right;
	margin: 12px 0 0 0;
	padding: 0 6px 0 0;
	width: 20px;
	height: 20px;
}

.my-logo{
	float: left;
	margin:12px 5% 12px 2.5%;
	padding:0;
	width: 20px;
	height: 20px;
	border-radius: 100%;
}

.item{
	margin: 0;
	padding: 0;
}

.header-nav-clearfloat{
	float: left;
	margin: 0 9%;
	padding: 0;
}

.header-nav-clearfloat li{
	display: inline-block;
	margin: 0;
	list-style: none;
	font-size:0.75em;
	font-weight: bold;
}

.header-nav-clearfloat li a{
	display: block;
	padding:0 25%;
	list-style: none;
	line-height: 44px;
	text-decoration: none;
}



/****************
NAVGATION
****************/





/****************
FOOTER
****************/

.puclic-footer{
	font-size:0.6em;
	text-align:center;
	clear:both;
	margin:0;
	padding:60px 0;
	color:#ccc;
	background-color: #fff;
}

.social-icon{
	width:30px;
	height:30px;
	margin:0 5px;
}

/****************
首页
****************/

.index-banner img{
	float: left;
	margin:2% auto;
	padding:0;
	border-radius: 5px;
}

.slide-container{
	float:center;
	max-width:896px;
	margin:0 auto;
	padding:0 2.5%;
	list-style: none;
}

.gallery-head{
	margin: 0;
	padding: 0;
	height: 30px;
}

h3{
	float: left;
	margin: 0;
	padding: 0 0 0 2.5%;
	color: #333;
}

.gallery-head a{
	color: #999;
}

.gallery-head a p{
	float:right;
	margin: 0;
	padding: 0 2.5% 0 0;
	text-align: center;
}

.public-container-index{
	float: left; 
	margin: 0;
	padding:7.5% 0 7.5% 0;
	max-width: 100%;
}


.public-container-index p{
	float: left;
}

.gallery-list{
	magin:0;
	padding:0;
	list-style:none;
}

.gallery-list li{
	float:left;
	width:45%;
	margin:2.5%;
	border-radius: 5px;
	background-color:#fff;
	color:#ff6061;
	box-shadow: 0 1px 4px 0 rgba(12, 12, 13, 0.1);
}

.gallery-list li a p{
	magin:0;
	padding:1% 5% 2.5% 5%;
	font-size:0.8em;
	color:#999;
}


/****************
关于
****************/

.my-photo{
	display: block;
	margin:5% 30px 30px 0;
	max-width: 140px;
	border-radius:100%;
}

.wrapper p{
	margin: 0;
}

.wrapper section h3{
	margin: 20px 0;
	padding: 0;
	width: 100%;
}

.secondary2{
	margin: 0 2.5%;
	padding: 0;
	
}

/****************
联系
****************/

.pramary{
	float: left;
	margin: 2.5%;
	width: 95%;
}

.pramary .my-photo{
	float: center;
	margin: 2.5% auto;
	width: 100px;
}

.secondary{
	float: left;
	margin: 2.5%;
	width: 100%;
}

.contact-info{
	list-style:none;
	padding:0;
	margin:0;
	font-size:0.8em;
}

.contact-info a{
	display:inline-block;
	min-height:20px;
	background-repeat:no-repeat;
	background-size:20px;
	padding:0 0 0 30px;
	margin:0 0 10px;
}

.contact-info li.phone a{
	background-image:url(../img/mobile.png);
}

.contact-info li.mail a{
	background-image:url(../img/mail1.png);
}

.contact-info li.zcool a{
	background-image:url(../img/zcool.png);
}

.contact-info li.ui a{
	background-image:url(../img/ui.png);
}

/****************
详情页-首页
****************/

.gallery-head p{
	margin: 2.5%;
	padding: 0;
}

.gallery-list2 img{
	float: left;
	margin: 0 2.5% 2.5%;
	padding: 0;
	max-width:95%;
	border-radius:0;
}



/****************
COLORS
****************/

/*导航背景*/
.public-header{
	/*background-color:#1a1515;*/
	background-color:#fff;
}

/*site body*/
body{
	background-color:#f5f5f5;
	color:#999;
}

/*links*/
a{
	color:#ff6061;
}


/*nav links*/
.public-header a{
	color:#999;
}

/*selected nav links*/
.public-header a.selected,.public-header a:hover{
	color:#ff6061;
}

.gallery-head a:hover{
	color: #ff6061;
}

.gallery-list li:hover{
	box-shadow: 0 5px 20px 0 rgba(12, 12, 13, 0.08);
}

.gallery-list p:hover{
	color: #ff6061;
}

.slide-banner a:hover{
	box-shadow: 0 10px 30px 0 rgba(255, 96, 97, 0.1);
}

