/****************
GENERAL
****************/

body{
	font-family:"微软雅黑", "苹方-简";
	height: 100%;
}

.wrapper{
	max-width:940px;
	margin:0 auto;
	padding:0;
}

a{
	text-decoration:none;
}

img{
	max-width:100%;
	border-radius: 5px 5px 0 0;
}


h3{
	margin:0 0 0.8em 0;
}

p{
	font-size: 0.8em;
	line-height: 2em;
}



/****************
HEARDING
****************/



.public-header{
	text-align: left;
	float: left; 
	margin:0;
	padding:0;
	width:100%;
}

form{
	float: right;
	border: 0;
	margin: 12px 2.5% 12px 0;
	background-color: #f5f5f5;
	border-radius: 16px;
}

.search-input-text{
	float: left;
	outline: none;
	border: 0;
	margin: 0 20px;
	padding: 0;
	width: 150px;
	height: 32px;
	line-height: 32px;
	background-color: #f5f5f5;
	border-radius: 16px;
}


.search-input-button{
	float: right;
	outline: none;
	border: 0;
	background-image: url(../img/search2.png);
	margin: 6px 10px 6px 2px;
	background-repeat: no-repeat;
	background-color: #f5f5f5;
	width: 20px;
	height: 20px;
	
}

.suggest{
	background-color: #fff;
	width: 95%;
	margin: 0;
	border-radius: 5px;
	position: absolute;
	top: 50px;
	right: 2.5%;
	box-shadow: 0 10px 30px 0 rgba(41, 41,51, 0.1);
}


.suggest ul{
	margin: 0;
	padding: 0;
	width: 100%;
	list-style: none;
	float: left;
	border-radius: 5px;
}

.suggest ul li{
	margin: 0;
	padding:0 20px;
	line-height: 44px;
	font-size: 0.75em;
	border-radius: 5px;
	cursor: pointer;
}

#search-input{
	font-size: 0.8em;
	color: #b3b3b3;
}

.my-logo{
	float: left;
	margin:12px 5% 12px 2.5%;
	padding:0;
	width: 32px;
	height: 32px;
	border-radius: 100%;
}

.item{
	margin: 0;
	padding: 0;
}

.header-nav-clearfloat{
	float: left;
	margin: 0;
	padding: 0;
}

.header-nav-clearfloat li{
	display: inline-block;
	margin: 0;
	list-style: none;
	font-size:0.75em;
	font-weight: bold;
}

.header-nav-clearfloat li a{
	display:block;
	padding:0 14px;
	list-style: none;
	line-height: 44px;
	text-decoration: none;
	color: #8a8a99;
}



/****************
NAVGATION
****************/





/****************
FOOTER
****************/

.puclic-footer{
	font-size:1em;
	text-align:left;
	clear:both;
	margin:0;
	padding:60px 2.5%;
	color:#ccc;
	background-color: #fff;
}

.social-icon{
	width:32px;
	height:32px;
	margin:0 5px;
	padding: 0;
}

.puclic-footer p{
	margin: 0 0 0 2.%;
	padding: 0 0 0 5px;
	line-height: 2em;
	color: #292933;
}

.puclic-footer h3{
	margin: 40px 0 10px 0;
	padding: 0;
	width: 100%;
}

/****************
首页
****************/

#detail-index-i{
	display: none;
	position: relative;
	top: 0;
}

#content-index{
	display: block;
	position: absolute;
	top: 0;
	width: 100%;
	
}

.index-banner img{
	float: left;
	margin:2% auto;
	padding:0;
	border-radius: 5px;
}

.slide-container{
	float:center;
	max-width:896px;
	margin:0 auto;
	padding:0 2.5%;
	list-style: none;
}

.gallery-head{
	margin: 0;
	padding: 0;
	height: 30px;
}

h3{
	float: left;
	margin: 0;
	padding: 0 0 0 2.5%;
	color: #292933;
}

#detail-button1{
	float: right;
	margin: 0 2.5%;
	padding: 5px 0;
	border:0;
	background-color: #fff;
	font-size: 0.8em;
	color: #8a8a99;
	outline: none;
}

#detail-button2{
	float: right;
	margin: 0 2.5%;
	padding: 5px 0;
	border:0;
	background-color: #fff;
	font-size: 0.8em;
	color: #8a8a99;
	outline: none;
}

#detail-button3{
	float: right;
	margin: 0 2.5%;
	padding: 5px 10px;
	border:0;
	background-color: #fff;
	font-size: 0.8em;
	color: #8a8a99;
	outline: none;
}

.gallery-head a{
	color: #8a8a99;
}

.gallery-head a p{
	float:right;
	margin: 0;
	padding: 0 2.5% 0 0;
	text-align: center;
}

.public-container-index{
	float: left; 
	margin: 0;
	padding:7.5% 0 7.5% 0;
	max-width: 100%;
}


.public-container-index p{
	float: left;
}

.gallery-list{
	magin:0;
	padding:0;
	list-style:none;
}

.gallery-list li{
	float:left;
	width:95%;
	margin:2.5%;
	border-radius: 5px;
	background-color:#fff;
	color:#ff6061;
	box-shadow: 0 1px 4px 0 rgba(41,41,51,0.05);
}

.gallery-list li a p{
	magin:0;
	padding:1% 5% 2.5% 5%;
	font-size:0.8em;
	color:#8a8a99;
}


/****************
关于
****************/

.my-photo{
	display: block;
	margin:5% 30px 30px 0;
	max-width: 140px;
	border-radius:100%;
	box-shadow: 0 50px 50px -30px rgba(41,41,51,0.2);
	border: 5px solid #fafafa;
}

.wrapper p{
	margin: 0;
}

.wrapper section h3{
	margin: 20px 0;
	padding: 0;
	width: 100%;
}

.secondary2{
	margin: 0 2.5% 60px;
	padding: 0;
}

.my-introduc{
	margin: 0 2.5%;
}

.my-introduc img{
	border-radius: 5px;
}

/****************
联系
****************/

.pramary{
	float: left;
	margin: 2.5%;
	width: 95%;
}

.pramary .my-photo{
	float: center;
	margin: 2.5% auto;
	width: 100px;
}

.secondary{
	float: left;
	margin: 2.5%;
	width: 95%;
}

.secondary li a{
	color: #8a8a99;
}

.contact-photo{
	border-radius: 5px;
}

.contact-info{
	list-style:none;
	padding:0;
	margin:0;
	font-size:0.8em;
}

.contact-info a{
	display:inline-block;
	min-height:20px;
	background-repeat:no-repeat;
	background-size:20px;
	padding:0 0 0 30px;
	margin:0 0 10px;
}

.contact-info li.phone a{
	background-image:url(../img/mobile.png);
}

.contact-info li.mail a{
	background-image:url(../img/mail1.png);
}

.contact-info li.zcool a{
	background-image:url(../img/zcool.png);
}

.contact-info li.ui a{
	background-image:url(../img/ui.png);
}

/****************
详情页-首页
****************/

#box-img{
	float: left;
	background-image: url(../img/banner.11.jpg);
	background-repeat: no-repeat!important;
	background-size:cover!important;
	background-position:bottom;
	background-attachment:fixed!important;
	width: 100%;
	height: 705px;
	margin: 0;
	padding:12px 0 0 0;
	
}

#box-img-article{
	float: left;
	background-image: url(../img/banner.14.jpg);
	background-repeat: no-repeat!important;
	background-size:cover!important;
	background-position:bottom;
	background-attachment:fixed!important;
	width: 100%;
	height: 705px;
	margin: 0;
	padding:12px 0 0 0;
	
}

.icon{
	float: left;
	background-color: #fff;
	margin: 0 2.5%;
	padding: 0;
	width: 32px;
	height: 32px;
	border-radius: 16px;
}

.icon img{
	padding: 6px;
	width: 20px;
	height: 20px;
}

#icon-returm{
	background-image: url(../img/返回.png);
	background-repeat: no-repeat;
	background-size:cover;
	margin: 7px 8px 7px 6px;
	padding: 0;
	width: 18px;
	height: 18px;
	border: 0;
	background-color: #fff;
	outline: none;
	
}

#img-text{
	float: left;
	position: relative;
	top: 300px;
	left: 2.5%;
	color: #fff;
}

#return{
	float: left;
}

#share{
	float: right;
}

.gallery-head p{
	margin: 2.5%;
	padding: 0;
}

.gallery-list2 img{
	float: left;
	margin: 0 2.5% 2.5%;
	padding: 0;
	max-width:95%;
	border-radius:0;
}



/*************
MORE
*************/


/*************
文章
*************/
.article-img{
	margin: 0 2.5%; 
	border-radius: 5px!important;
}

.img1{
	float: left;
	width: 47.5%;
}

.img2{
	float: right;
	width: 47.5%;
}

.article-img img{ 
	border-radius: 5px;
}


/****************
COLORS
****************/

/*导航背景*/
.public-header{
	/*background-color:#1a1515;*/
	background-color:#fff;
}

/*site body*/
body{
	background-color:#fff;
	color:#8a8a99;
}

/*links*/
a{
	color:#ff6061;
}


/*nav links*/
.public-header a{
	color:#8a8a99;
}

/*selected nav links*/
.public-header a.selected,.public-header a:hover{
	color:#ff6061;
}

.secondary li a:hover{
	color: #ff6061;
}

.gallery-head a:hover{
	color: #ff6061;
}

.gallery-list li:hover{
	box-shadow: 0 5px 20px 0 rgba(41, 41, 51, 0.08);
}

.gallery-list p:hover{
	color: #ff6061;
}

.suggest ul li:hover{
	text-decoration: underline;
	background-color: #f5f5f5;
}

#detail-button1:hover{
	color: #ff6061;
}

#detail-button2:hover{
	color: #ff6061;
}

#detail-button3:hover{
	color: #ff6061;
}
